__pycache__/
.idea/
venv*/
*.env
*~lock*
logs/
*.xlsx
resources/raids
resources/players

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

node_modules/*
package-lock.json
static/.webassets-cache/*
