{% extends "layout.html" %}

{% block content %}
{% if guild %}
<h1>Welcome &lt;{{guild}}&gt; {{player.selected_char}}</h1>
{% else %}
{% set discord_url = 'https://discord.com/api/oauth2/authorize?client_id=699368271073378476&permissions=8&redirect_uri=https%3A%2F%2Fdiscord.com%2Fapi%2Foauth2%2Fauthorize%3Fclient_id%3D699368271073378476%26permissions%3D8%26redirect_uri%3Dhttps%253A%252F%252Fdiscord.com%252Fapi%252Foauth2%252Fauthorize%253Fclient_id%253D699368&scope=bot' -%}
<a href="{{discord_url}}" target="popup"
   onclick="window.open('{{discord_url}}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
    Add the Discord bot to your server
</a>
{% endif %}
{% endblock %}
