<!doctype html>
<html>
  <head>
    <title>DokBot</title>
    {% assets "tailwindcss" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>
  <body>
    <div class="grid grid-cols-6 font-mono h-screen">
      <div class="col-start-1 col-end-1 h-full w-full bg-indigo-700 text-indigo-50">{% include 'navigation.html' %}</div>
      <div id="content" class="col-start-2 col-end-6 container mx-auto">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
