{% extends "layout.html" %}

{% block content %}
<div class="grid xl:grid-cols-3 grid-cols-2 auto-cols-max">
    <div class="m-8">
        <a class="flex border-2 h-48 inline-block border-dotted border-blue-400 hover:border-blue-900 text-5xl content-center align-middle"
           href="{{url_for('.create')}}">
            <p class="text-5xl m-auto text-indigo-600 group-hover:text-indigo-900">+</p>
        </a>
    </div>

    {% for raid in raids %}
    <div class="m-8">
        <a class="flex border-2  h-48 border-gray-400 hover:border-gray-900"
           href="{{url_for('.raid', team_id=raid.team_id, name=raid.name, timestamp=raid.timestamp)}}">
        <div class="text-center flex-1 bg-gray-800 text-white p-4">
            <div>
                <p class="text-xl">{{raid.get_weekday()}}</p>
                <p class="text-sm">{{raid.get_datetime().day}} {{raid.get_month()}}</p>
                <p class="text-sm">{{raid.get_time()}}<p>
            </div>
        </div>
        <div class="flex-1 p-4">
            <p class="text-xl">{{raid.get_name()}}</p>
            <div class="grid">
                {% for signup_status, icon in
                [('Accept', '👍'),
                ('Late', '🕒'),
                ('Tentative', '🤷'),
                ('Bench', '🪑'),
                ('Decline', '👎'),
                ('Undecided', '❓')] %}
                {% set characters = raid.get_characters(signup_choice=signup_status) -%}
                {% if characters | length > 0 %}
                <div class="flex m-1">
                    <div class="px-0.5">{{ icon }}</div>
                    <div>{{ characters | length }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </a></div>
    {% endfor %}
</div>
{% endblock %}
