{% extends "layout.html" %}

{% block content %}
<div class="title content-center">
    <h1 class="text-5xl">{{raid.get_name()}}</h1>
    <h2 class="text-xl">{{raid.get_datetime()}}</h2>
</div>
<section>
    <h1>Actions</h1>
    <ul>
        <li><form action="{{url_for('.signup_remind', name=raid.name, timestamp=raid.timestamp)}}" method="post">
            <button type="submit">Send signup reminder</button>
        </form></li>
        <li><form action="{{url_for('.create_roster', name=raid.name, timestamp=raid.timestamp)}}" method="post">
            <button type="submit">Create the roster</button>
        </form></li>
    </ul>
</section>
<section>
    <div class="grid grid-cols-4 font-thin text-sm">
        {% for role in ['tank', 'melee', 'ranged', 'healer'] %}
        <div class="flex-col border p-4">
            <div class="p-0.5"> {{role.capitalize() }} </div>
            {% for character in raid.get_characters(role=role) %}
            <div class="p-0.5"><a href="{{url_for('.player', discord_id=character.discord_id)}}">{{character.name}}</a></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
