.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > header {
    background-color: #0d1b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #e0e1dd;
    flex: 0 0 75px;

    img {
      width: 50px;
    }
  }

  .success {
    margin: auto;
    color: #42cc8c;
  }

  .error {
    color: crimson;
  }

  main {
    background-color: #1b263b;
    color: #e0e1dd;
    flex-grow: 1;

    .raid-event {
      padding: 20px;
      
      > header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        padding: 12px;

        .raid-event-title {
          font-size: 2em;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .raid-event-date {
          margin-right: 32px;;
        }

      }

      .raid-event-body {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .controls {
          margin-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;

          .buttons {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
        }

        .rosters {
          flex-grow: 1;

          > header {
            text-align: center;
            font-size: 1.2em;
            margin-bottom: 10px;
          }

        }

        .bench, .declined, .signups {
          width: 300px;
          padding: 10px;

          display: flex;
          flex-direction: column;

          &.allow-drop {
            border: 2px dashed;
          }

          > header {
            display: flex;

            border-bottom: 1px solid;
            padding-bottom: 5px;

            input {
              flex-grow: 1;
            }
            i {
              flex: 0 0 20px;
            }
          }

        }
      }
    }
  }
}

.loading, .not-found, .internal-error {
  font-size: 2em;
  text-align: center;
  margin-top: 100px;
}

.btn {
  cursor: pointer;
}

.publish, .discard {
  height: 50px;
  border:0.1em solid #000000;
  border-radius:0.12em;
  text-decoration:none;
  font-weight:300;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.15s;

  &:disabled {
    cursor: not-allowed;
    opacity: 70%;
  }

  &:not([disabled]):hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
  }

}

.publish {
  background-color:#42cc8c;
}

.discard {
  background-color: #ce3d61;
}
