.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > header {
    background-color: #0d1b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #e0e1dd;
    flex: 0 0 75px;

    img {
      width: 50px;
    }
  }

  main {
    background-color: #1b263b;
    color: #e0e1dd;
    flex-grow: 1;

    .raid-event {
      padding: 20px;
      
      > header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        padding: 12px;

        .raid-event-title {
          font-size: 2em;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .raid-event-date {
          margin-right: 32px;;
        }

      }

      .raid-event-body {
        display: flex;
        flex-direction: row;
        gap: 8px;


        .signups {
          width: 15%;
          display: flex;
          flex: 0 0 250px;
          flex-direction: column;

          > header {
            font-size: 1.2em;
            margin-bottom: 10px;
          }

        }

        .rosters {
          flex-grow: 1;

          > header {
            text-align: center;
            font-size: 1.2em;
            margin-bottom: 10px;
          }

        }

        .benched {

          > header {
            text-align: right;
            font-size: 1.2em;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.loading, .not-found, .internal-error {
  position: absolute;
  margin:auto;
  top: 50%;
  left: 45%;
  font-size: 2em;
}


.btn {
  cursor: pointer;
}
