.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > header {
    background-color: #0d1b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #e0e1dd;
    flex: 0 0 75px;

    img {
      width: 50px;
    }
  }

  main {
    background-color: #1b263b;
    color: #e0e1dd;
    flex-grow: 1;

    .raid-event {
      padding: 20px;
      
      > header {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;

        .raid-event-title {
          font-size: 2em;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .raid-event-date i {
          margin-right: 5px;
          
        }
        .raid-event-time i {
          margin-right: 5px;
        }
      }

      .raid-event-body {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .signups {
          flex: 0 0 250px;
          
          display: flex;
          flex-direction: column;

          > header {
            font-size: 1.2em;
            margin-bottom: 10px;
          }

          .signup-roles {
            display: flex;
            flex-direction: column;

            .signup-role {
              display: flex;
              flex-direction: column;
              gap: 10px;

              > header {
                font-weight: 600;
                text-decoration: underline;
              }

              .signup-role-items {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-left: 10px;
              }
            }
          }
        }

        .rosters {
          flex-grow: 1;

          display: flex;
          flex-direction: column;

          > header {
            text-align: center;
            font-size: 1.2em;
            margin-bottom: 10px;
          }

          .roster-items {
            flex-grow: 1;            

            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-wrap: wrap;

            .roster-add {
              border: 1px solid #e0e1dd;
              padding: 10px;

              text-align: center;

              i {
                font-size: 64px;
              }
            }
          }
        }

        .benched {
          flex: 0 0 250px;

          > header {
            text-align: right;
            font-size: 1.2em;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.horizontal-break {
  margin: 10px 0;
  border-bottom: 2px #778da9 solid;
}

.btn {
  cursor: pointer;
}

.druid {
    background: #ff7d0a;
}

.hunter {
    background: #abd473;
}

.mage {
    background: #69ccf0;
}

.monk {
    background: #00ff96;
}

.paladin {
    background: #f58cba;
}

.priest {
    background: #ffffff;
}

.rogue {
    background: #fff569;
}

.shaman {
    background: #0070de;
}

.warlock {
    background: #9482c9;
}

.warrior {
    background: #c79c6e;
}