.bench {
  padding: 10px;

  display: flex;
  flex-direction: column;
  
  &.allow-drop {
    border: 3px dashed;
  }

  > header {
    display: flex;

    border-bottom: 1px solid;
    padding-bottom: 5px;

    input {
      flex-grow: 1;
    }
    i {
      flex: 0 0 20px;
    }
  }

  .bench-spots {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .roster-spot {
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 5px;
      gap: 10px;

      img {
        height: 20px;
      }

      span {
        padding: 2px;
        color: black;
      }

      div {
        flex-grow: 1;
      }

      i {
        flex: 0 0 20px;
        color: #1b263b;
      }
    }
    .bench-spot-placeholder {
      text-align: center;
      padding: 5px;
    }
  }
}